/* ==============COMMON STYLES===================== */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 

}

img {
    display: block;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* ==============COMMON STYLES===================== */



/* ==============HEADER STYLES===================== */

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}




.page-navigation {
  display: flex;
  align-items: center;

}




body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo-word {
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}





/* ============== Navigation+ Mail============= */
.navigation {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.navigation-link {
  display: flex;
  column-gap: 40px;
  align-items: center;
}


.menu-link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-top: 24px ;
  padding-bottom: 24px ;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.adress-text {
  
  font-style: normal;

}

.contacts {
  color: #434455;
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-top: 24px ;
  padding-bottom: 24px ;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/* ============== Navigation+ Mail============= */

/* ============== MAIN ======================== */



.section-layer {
  background: #2e2f42;
  margin-bottom: 60px;
  width: 1440px;
height: 600px;
flex-shrink: 0;
margin-left: auto;
margin-right: auto;

}

.Solutions {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  color: #fff;
  width: 496px;
  height: 120px;
  padding-top: 188px;
  
  margin-left: auto;
  margin-right: auto;
  }

.order {
  /* Button Text */

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  color: var(--WHITE, #fff);
  background-color: #4d5ae5;
}

.push:hover,
.push:focus {
  background: var(--OCEAN, #404bbf);
}


/* ============== MAIN ======================== */


/* ================ BENEFITS ========================== */

.benefits-list {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
  
  

}

.benefits-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
}

.benefits-form {
  display: flex;
gap: 24px;

}


/* ================ BENEFITS ========================== */



/* ================ OUR TEAM ========================== */



.team {
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
  padding-bottom: 72px;
}

.team-group {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
  margin-bottom: 8px;
  text-align: center;
}

.section-layers {
  background: var(--CLOUD, #f4f4fd);
}

.profession {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
  text-align: center;
}

.photo-layer {
  background: var(--WHITE, #fff);
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  
}

.list-team-group {
  display: flex;
  gap: 24px;
}

.team-photo {
  margin-bottom: 32px;
  
}



/* ================ OUR TEAM ========================== */


/* ================ OUR PORTFOLIO ===================== */
.portfolio {
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
margin-bottom: 72px;
margin-left: auto;
margin-right: auto;
width: 412px;

}

.possibilities {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
}

.possibilities-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--SLATE, #434455);
}



/* ================ OUR PORTFOLIO ===================== */

/* ================ FOOTER ============================ */
.layers {
  background: var(--NAVY-BLUE, #2e2f42);
}

.logo-white {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.text-solution {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--CLOUD, #f4f4fd);
}
/* ================ FOOTER ============================ */